@model StudAdd
<h3>Student Data</h3>

<table class="table-bordered">
    <tr>
        <td>Id</td>
        <td>@Model.Stud.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Stud.Name</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>@Model.Stud.Age</td>
    </tr>
    <tr>
        <td>Marks</td>
        <td>@Model.Stud.Marks</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>@Model.Stud.Gender</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>@Model.Address.Add</td>
    </tr>

   
</table>